<!doctype html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"> 
    <script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
    <title>AStar Demo</title>
</head>
<body>
    <h3 id="drawingLabel">Draw a map!</h3>
    <div>
        <canvas id="drawingCanvas" width="{{ canvas_dim['width'] }}" height="{{ canvas_dim['height'] }}"></canvas>
        <div class="vertical">
            <div class="flex" id="radios">
                <input type="radio" id="source" name="pencil" value="source">
                <label for="source">Source</label>
                <input type="radio" id="pencil" name="pencil" value="pencil" checked>
                <label for="pencil">Pencil</label>
                <input type="radio" id="eraser" name="pencil" value="eraser" checked>
                <label for="eraser">Eraser</label>
                <input type="radio" id="destination" name="pencil" value="destination">
                <label for="destination">Destination</label>
            </div>

            <div class="slidecontainer">
                <input type="range" min="1" max="10" step="any" value="5" class="slider" id="brushSize">
                <span id="brushSizeDisplay"></span>
            </div>

            <button id="clearMap">Clear Map</button>
            <button id="submitMap">Submit Map</button>

            <div class="h_method vertical">
                <div class="h_method horizontal">
                    <label for="h_method_dropdown" style="padding-right: 5px;">Choose a Method:</label>
                    <select id="h_method_dropdown" class="h_method">
                        {% for h_method in h_methods %}
                            <option value="{{ h_method }}">{{ h_method }}</option>
                        {% endfor %}
                    </select>
                </div>

                <label class="equation" for="equation">Current H Statistic:</label>
                <div class="equation" id="equation"></div>
            </div>
        </div>
    </div>
    <div>Your Maps:</div>
    <div id="imagesContainer"></div>

    <script>
        const h_methods = {{ h_methods|tojson|safe }};
    </script>
    <script src="{{ url_for('static', filename='js/updates.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
