<!doctype html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"> 
    <script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
    <title>AStar Demo</title>
</head>
<body>
    <h3 id="drawingLabel">Draw a map!</h3>
    <div class="main">
        <div class="canvas-pane">
            <canvas id="canvas" width="{{ canvas_dim['width'] }}" height="{{ canvas_dim['height'] }}"></canvas>
        </div>
        <div class="vertical controls">
            <div class="flex" id="radios">
                <div>
                    <input type="radio" id="pencil" name="pencil" value="pencil" checked>
                    <label for="pencil">Pencil</label>
                    <input type="radio" id="eraser" name="pencil" value="eraser">
                    <label for="eraser">Eraser</label>
                </div>
                <div>
                    <input type="radio" id="source" name="pencil" value="source">
                    <label for="source">Source</label>
                    <input type="radio" id="destination" name="pencil" value="destination">
                    <label for="destination">Destination</label>
                </div>
            </div>

            <div class="slidecontainer">
                <label for="brushSize" class="smaller">Pen Size:</label>
                <input type="range" min="1" max="20" step="any" value="5" id="brushSize">
                <span id="brushSizeDisplay" class="smaller"></span>
            </div>

            <div class="h_method vertical">
                <div class="h_method horizontal">
                    <label for="h_method_dropdown" style="padding-right: 5px;">Choose a Method:</label>
                    <select id="h_method_dropdown" class="h_method">
                        {% for h_method in h_methods %}
                            <option value="{{ h_method }}">{{ h_method }}</option>
                        {% endfor %}
                    </select>
                </div>

                <label class="equation" for="equation">Current H Statistic:</label>
                <div class="equation" id="equation"></div>
            </div>

            <div class="slidecontainer">
                <label for="weight" class="smaller">Weight:</label>
                <input type="range" min="0" max="20" step="any" value="1" id="weight">
                <span id="weightDisplay" class="smaller"></span>
            </div>
            
            <button id="submitMap">Submit Map</button>
            <button id="clearMap">Clear Map</button>
        </div>
    </div>
    <div>Your Maps:</div>
    <div id="imagesContainer"></div>

    <script>
        const h_methods = {{ h_methods|tojson|safe }};
    </script>
    <script src="{{ url_for('static', filename='js/updates.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
